@model QuizCreator.Models.Question
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

@*
    <ul>
        <li>Question text: @Model.QuestionText</li>
        <li>Answer one: @Model.AnswerOne</li>
        <li>Answer two: @Model.AnswerTwo</li>
        <li>Answer three: @Model.AnswerThree</li>
        <li>Correct answer: @Model.CorrectAnswer</li>
        <li>Question tag: @Model.Tag.Name</li>
        <li>Question explanation: @Model.ExplanationText</li>
        <li>Created at: @Model.CreatedAt</li>

    </ul>
*@