@model IEnumerable<QuizCreator.Models.Question>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questions</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Question</th>
            <th>Question Text</th>
            <th>Answer One</th>
            <th>Answer two</th>
            <th>Answer three</th>
            <th>Correct answer</th>
            <th>Explanation</th>
            @*<th>Created at</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model)
        {
            <tr>
                <td>@question.Name</td>
                <td>@question.QuestionText</td>
                <td>@question.AnswerOne</td>
                <td>@question.AnswerTwo</td>
                <td>@question.AnswerThree</td>
                <td>@question.CorrectAnswer</td>
                <td>@question.ExplanationText</td>
            </tr>
        }
    </tbody>
</table>

